---
key: 1
title: Research
permalink: /research/
excerpt: Publications, Posters and Presentations
image: pic02.jpg
background-image: pic02.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.research %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.research groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ research.url | prepend: site.baseurl }}">{{ research.title }}</a></b></td>
        <td>{{ research.date | date: "%b %Y" }}</td>
        <td>{{ research.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.research_in_progress %}
  <div class=.research_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
